flows.json
[{"id":"e40b8e767de8b574","type":"tab","label":"Rotinas com alexa","disabled":false,"info":"","env":[]},{"id":"a4b1f639f643cb9d","type":"tab","label":"Rotinas com TAGS","disabled":false,"info":"","env":[]},{"id":"f11ae74ba4747822","type":"tab","label":"Automações","disabled":false,"info":"","env":[]},{"id":"fbc40dcc948bdaf8","type":"tab","label":"Water Tracker & Reminder","disabled":false,"info":"","env":[]},{"id":"2d606eb80d72dd79","type":"tab","label":"Notify on Device Offline","disabled":false,"info":"","env":[]},{"id":"2a8c346910e9b543","type":"tab","label":"Modos funcionamento","disabled":false,"info":"","env":[]},{"id":"ced40aa8bd9e19d3","type":"tab","label":"Despertador","disabled":false,"info":"","env":[]},{"id":"a427d63af5fa9da0","type":"tab","label":"Google Fit","disabled":false,"info":"","env":[]},{"id":"94c9341f8f869117","type":"subflow","name":"Alexa","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"95b760e4b71654cd"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"9f091b4f142b109e","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-circle-o"},{"id":"8c744d79517d6f91","type":"subflow","name":"Rotina Boa Noite","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"84dc91dec2ab8cdf"}]}],"out":[{"x":980,"y":120,"wires":[{"id":"88f45a146db561ee","port":0},{"id":"05c5c3c6d650291b","port":0},{"id":"f33f3d8d15bbda65","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","icon":"font-awesome/fa-bed"},{"id":"390e6e7172a1c9c0","type":"subflow","name":"Rotina Bom Dia","info":"","category":"","in":[{"x":80,"y":260,"wires":[{"id":"ebad817a04ae14b1"}]}],"out":[{"x":760,"y":420,"wires":[{"id":"380abd3b4e4ad8bc","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","icon":"node-red-node-suncalc/sun.png"},{"id":"305e2859432885f9","type":"subflow","name":"Liga / Desliga Setup","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"e4f997747f3b1f59"}]}],"out":[{"x":820,"y":120,"wires":[{"id":"45136ce2f138d4c7","port":0},{"id":"ea3e999096a571ed","port":0}]}],"env":[],"meta":{},"color":"#E9967A","icon":"font-awesome/fa-laptop"},{"id":"627701f3d7a7ef74","type":"subflow","name":"Rodrigo no trabalho?","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"7f24da814fe1f4ce"}]}],"out":[{"x":990,"y":120,"wires":[{"id":"22c714fc07959fd8","port":0},{"id":"ba8433baed1c98bf","port":0},{"id":"549d8f8647cc3411","port":0}]},{"x":970,"y":220,"wires":[{"id":"549d8f8647cc3411","port":1}]}],"env":[],"meta":{},"color":"#87A980","outputLabels":["Sim","Não"],"icon":"font-awesome/fa-laptop"},{"id":"6a022f14b149d7bd","type":"subflow","name":"Zerar volume TV","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"9d3a6d12bb40edb0"}]}],"out":[{"x":420,"y":80,"wires":[{"id":"9d3a6d12bb40edb0","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-tv"},{"id":"debe9cfe5aac4d6d","type":"subflow","name":"Executa Despertador?","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"0ee047aca9dddffc"}]}],"out":[{"x":1480,"y":40,"wires":[{"id":"4e726b86a159280f","port":0}]},{"x":1480,"y":120,"wires":[{"id":"4e726b86a159280f","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"da0c1becfd17b269","type":"subflow","name":"Lâmpada incremental","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3a90b825dd292de0"}]}],"out":[{"x":760,"y":80,"wires":[{"id":"12769f9f473e691b","port":0}]}],"env":[],"meta":{},"color":"#D8BFD8","icon":"font-awesome/fa-lightbulb-o"},{"id":"0a37ddcef5e5c70a","type":"subflow","name":"Liga TV se desligada","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"38851760a8f75d62"}]}],"out":[{"x":440,"y":60,"wires":[{"id":"38851760a8f75d62","port":0},{"id":"0bbdc8ce01d10e34","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","icon":"font-awesome/fa-tv"},{"id":"f56e839fd346bcfb","type":"alexa-remote-account","name":"Rodrigo","authMethod":"proxy","proxyOwnIp":"192.168.0.15","proxyPort":"3456","cookieFile":"/config/senha","refreshInterval":"1","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com.br","acceptLanguage":"pt-BR","onKeywordInLanguage":"on","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"a766b0db0a43fc27","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"299662d5d7b545ad","type":"ha-entity-config","server":"a766b0db0a43fc27","deviceConfig":"","name":"last_alexa","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Last Alexa"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"entity_picture","value":""},{"property":"device_class","value":"current"},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2bb0c017a84126ef","type":"telegram bot","botname":"HassioTelegramBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"95b760e4b71654cd","type":"api-call-service","z":"94c9341f8f869117","name":"ATUALIZADOR","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"alexa_media","service":"update_last_called","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":80,"wires":[["9f091b4f142b109e"]]},{"id":"9f091b4f142b109e","type":"ha-sensor","z":"94c9341f8f869117","name":"Last Alexa","entityConfig":"299662d5d7b545ad","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"x":390,"y":60,"wires":[[]]},{"id":"88f45a146db561ee","type":"api-call-service","z":"8c744d79517d6f91","name":"Desliga luzes","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["0e56dad9d4261e07c3f5fa36b78fe231","e7b803412929dc2efc677c6dbed27b1a","5ec7b0cf916fe74aa4294cb0869d488a","1cf7196fcb48a5f34200861b6f7fcbd6"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":80,"wires":[[]]},{"id":"ab321315cd5c8ea1","type":"template","z":"8c744d79517d6f91","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"on","output":"str","x":480,"y":100,"wires":[["88f45a146db561ee","05c5c3c6d650291b"]]},{"id":"05c5c3c6d650291b","type":"api-call-service","z":"8c744d79517d6f91","name":"Desliga telas","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["ea3d40ff885b178cb80bd81bfbe0ab39"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":140,"wires":[[]]},{"id":"f33f3d8d15bbda65","type":"api-call-service","z":"8c744d79517d6f91","name":"Desliga TV","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.tvpower"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":200,"wires":[[]]},{"id":"84dc91dec2ab8cdf","type":"alexa-remote-routine","z":"8c744d79517d6f91","name":"Inicia rotina","account":"f56e839fd346bcfb","routineNode":{"type":"node","payload":{"type":"serial","children":[{"type":"speakAtVolume","payload":{"type":"announcement","text":{"type":"str","value":"Iniciando rotina de boa noite"},"volume":{"type":"num","value":"30"},"mode":"set","devices":["G0922H07317201CT"]}},{"type":"skill","payload":{"skill":{"type":"str","value":"amzn1.ask.skill.89bb8c9b-6f47-4f93-9a40-7c572ade7ea3"},"device":{"type":"str","value":"G071CQ1422140BN8"}}}]}},"x":210,"y":120,"wires":[["ab321315cd5c8ea1","8fa0cb936b52af99","d2363d484764dadd"]]},{"id":"8fa0cb936b52af99","type":"delay","z":"8c744d79517d6f91","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":160,"wires":[["4ce8c8589d8eaaaa"]]},{"id":"4ce8c8589d8eaaaa","type":"alexa-remote-routine","z":"8c744d79517d6f91","name":"Finaliza rotina","account":"f56e839fd346bcfb","routineNode":{"type":"stop","payload":{"devices":["ALEXA_ALL_DSN"]}},"x":480,"y":220,"wires":[["f33f3d8d15bbda65"]]},{"id":"d2363d484764dadd","type":"api-call-service","z":"8c744d79517d6f91","name":"Ativar Dormindo","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.dormindo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":40,"wires":[[]]},{"id":"7d60264302d36593","type":"debug","z":"390e6e7172a1c9c0","name":"debug 53","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":300,"wires":[]},{"id":"ebad817a04ae14b1","type":"function","z":"390e6e7172a1c9c0","name":"Definindo timers","func":"let states = global.get(\"homeassistant.homeAssistant\").states;\nvar routine_total_time = states[\"input_number.alarm_routine_total_time\"].state * 60 * 1000;\n\nmsg.delay = routine_total_time;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":260,"wires":[["dcac1b000eb548ff","7484eeb138cb21c2","ebd42be0f81bc5cf","3a2dc3c44a32b2ff"]]},{"id":"380abd3b4e4ad8bc","type":"api-call-service","z":"390e6e7172a1c9c0","name":"Desativar boleans","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.dormindo"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"msg","propertyType":"msg","value":"Rotina despertador finalizada com sucesso!","valueType":"str"}],"queue":"none","output_location":"","output_location_type":"none","x":630,"y":360,"wires":[["26b864f6753d41d0"]]},{"id":"dcac1b000eb548ff","type":"delay","z":"390e6e7172a1c9c0","name":"Aguarda fim rotina","pauseType":"delayv","timeout":"1800000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":430,"y":360,"wires":[["380abd3b4e4ad8bc"]]},{"id":"d7c1e234eb9dd299","type":"api-call-service","z":"390e6e7172a1c9c0","name":"Liga telas","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["ea3d40ff885b178cb80bd81bfbe0ab39"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"msg","propertyType":"msg","value":"TV e Monitor ligados!","valueType":"str"}],"queue":"none","x":680,"y":240,"wires":[["0afcbff38f24caa1"]]},{"id":"7484eeb138cb21c2","type":"subflow:da0c1becfd17b269","z":"390e6e7172a1c9c0","name":"","x":460,"y":300,"wires":[["1720e1bc11e752ac"]]},{"id":"3a2dc3c44a32b2ff","type":"ha-wait-until","z":"390e6e7172a1c9c0","name":"","server":"a766b0db0a43fc27","version":2,"outputs":2,"entityId":"input_boolean.trabalhando","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"10","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":420,"y":40,"wires":[["d90eed913d7c7f70"],[]]},{"id":"4d09a6e5c609f9af","type":"loop","z":"390e6e7172a1c9c0","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-orig","x":770,"y":40,"wires":[[],["129246c9889dba72"]]},{"id":"d90eed913d7c7f70","type":"function","z":"390e6e7172a1c9c0","name":"function 26","func":"var delay = msg.delay; //delay em milisegundos\nvar t1 = 4 * 60 * 1000; //4 min em milisegundos\nvar t2 = 9 * 60 * 1000; //9 min em milisegundos\n\nmsg.count = Math.ceil((delay - t1) / t2) + 1;\nmsg.delay = delay;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":40,"wires":[["4d09a6e5c609f9af"]]},{"id":"4024befd91478064","type":"alexa-remote-routine","z":"390e6e7172a1c9c0","name":"Atividade trabalho","account":"f56e839fd346bcfb","routineNode":{"type":"node","payload":{"type":"serial","children":[{"type":"volume","payload":{"value":{"type":"num","value":"80"},"mode":{"type":"str","value":"set"},"devices":["G0922H07317201CT"]}},{"type":"sound","payload":{"sound":{"type":"str","value":"bell_02"},"devices":["G0922H07317201CT"]}},{"type":"volume","payload":{"value":{"type":"num","value":"20"},"mode":{"type":"str","value":"set"},"devices":["G0922H07317201CT"]}}]}},"x":1270,"y":40,"wires":[["4d09a6e5c609f9af"]]},{"id":"71325bbb6dd8377c","type":"delay","z":"390e6e7172a1c9c0","name":"","pauseType":"delayv","timeout":"540","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":40,"wires":[["4024befd91478064"]]},{"id":"129246c9889dba72","type":"function","z":"390e6e7172a1c9c0","name":"function 27","func":"var t1 = 4 * 60 * 1000; //4 min em milisegundos\nvar t2 = 9 * 60 * 1000; //9 min em milisegundos\n\nif (msg.loop.index == 0){\n    msg.delay = t1;\n    \n    return msg;\n}\nmsg.delay = t2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":40,"wires":[["71325bbb6dd8377c"]]},{"id":"26b864f6753d41d0","type":"debug","z":"390e6e7172a1c9c0","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":360,"wires":[]},{"id":"1720e1bc11e752ac","type":"change","z":"390e6e7172a1c9c0","name":"","rules":[{"t":"set","p":"msg","pt":"msg","to":"Iluminação em 100%!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["7d60264302d36593"]]},{"id":"ebd42be0f81bc5cf","type":"subflow:0a37ddcef5e5c70a","z":"390e6e7172a1c9c0","name":"","x":460,"y":240,"wires":[["d7c1e234eb9dd299","3e9d279382efcde2"]]},{"id":"0afcbff38f24caa1","type":"debug","z":"390e6e7172a1c9c0","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":240,"wires":[]},{"id":"3e9d279382efcde2","type":"subflow:6a022f14b149d7bd","z":"390e6e7172a1c9c0","name":"","x":490,"y":140,"wires":[["e72710fefd17b454"]]},{"id":"e72710fefd17b454","type":"function","z":"390e6e7172a1c9c0","name":"function 28","func":"// ex.: 30 min\nvar delay = msg.delay / 1000;\n\nmsg.duration_playlist = delay; //1800 segundos\nmsg.wait_1 = parseInt(delay / 3) //600 segundos\nmsg.wait_2 = parseInt(delay / 3) //600 segundos\nmsg.wait_3 = parseInt(delay / 6) //300 segundos\nmsg.wait_info_1 = parseInt((delay / 3) * 2) //1200 segundos\nmsg.wait_info_2 = parseInt(delay / 3) - 5 //598 segundos\n\nlet playlist = [\n    'Rock Classics',\n    'Daily Mix 1',\n    'Daily Mix 2',\n    'Daily Mix 3',\n    'Daily Mix 4',\n    'Daily Mix 5',\n    'Daily Mix 6',\n    '70s Rock Anthems'\n]\n\nArray.prototype.random = function () {\n    return this[Math.floor((Math.random() * this.length))];\n}\n\nmsg.playlist = playlist.random();\nmsg.delay = delay * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":140,"wires":[["6f34fd191b88271d"]]},{"id":"76de2abf19682f9a","type":"api-current-state","z":"390e6e7172a1c9c0","name":"executar resumo de notícias","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.alarm_resumo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1280,"y":140,"wires":[["3f5c577438ce3c34"],[]]},{"id":"3f5c577438ce3c34","type":"alexa-remote-routine","z":"390e6e7172a1c9c0","name":"Resumo de notícias","account":"f56e839fd346bcfb","routineNode":{"type":"textCommand","payload":{"text":{"type":"str","value":"Resumo de notícias"},"devices":["G071CQ1422140BN8"]}},"x":1520,"y":140,"wires":[[]]},{"id":"6f34fd191b88271d","type":"alexa-remote-routine","z":"390e6e7172a1c9c0","name":"Rotina despertar","account":"f56e839fd346bcfb","routineNode":{"type":"node","payload":{"type":"parallel","children":[{"type":"node","payload":{"type":"serial","children":[{"type":"smarthome","payload":{"entity":"96c2a83d-9e08-4ada-bc28-4c568b5b39b5","action":"sceneActivate"}},{"type":"speakAtVolume","payload":{"type":"announcement","text":{"type":"str","value":"Iniciando rotina de bom dia!"},"volume":{"type":"num","value":"10"},"mode":"set","devices":["G0922H07317201CT"]}},{"type":"music","payload":{"device":{"type":"str","value":"G071CQ1422140BN8"},"provider":{"type":"str","value":"SPOTIFY"},"search":{"type":"msg","value":"playlist"},"duration":{"type":"msg","value":"duration_playlist"}}}]}},{"type":"node","payload":{"type":"serial","children":[{"type":"wait","payload":{"time":{"type":"msg","value":"wait_1"}}},{"type":"smarthome","payload":{"entity":"7b3df141-1e69-4a27-b77e-cd5af299e703","action":"sceneActivate"}},{"type":"wait","payload":{"time":{"type":"msg","value":"wait_2"}}},{"type":"smarthome","payload":{"entity":"7b3df141-1e69-4a27-b77e-cd5af299e703","action":"sceneActivate"}},{"type":"wait","payload":{"time":{"type":"msg","value":"wait_3"}}},{"type":"smarthome","payload":{"entity":"e6947833-a6d9-40c6-be15-6704c6bf0bc4","action":"sceneActivate"}}]}},{"type":"node","payload":{"type":"serial","children":[{"type":"wait","payload":{"time":{"type":"msg","value":"wait_info_1"}}},{"type":"speakAtVolume","payload":{"type":"announcement","text":{"type":"str","value":"Aproveite, você ainda tem alguns minutos na cama!!!"},"volume":{"type":"num","value":"20"},"mode":"set","devices":["G0922H07317201CT"]}},{"type":"wait","payload":{"time":{"type":"msg","value":"wait_info_2"}}},{"type":"speakAtVolume","payload":{"type":"announcement","text":{"type":"str","value":"Atenção, seu tempo acabou! Tá na hora de levantar!!!"},"volume":{"type":"num","value":"30"},"mode":"set","devices":["G0922H07317201CT"]}}]}}]}},"x":850,"y":140,"wires":[["1cc41265e4314e4e"]]},{"id":"1cc41265e4314e4e","type":"delay","z":"390e6e7172a1c9c0","name":"Aguarda fim rotina","pauseType":"delayv","timeout":"1800000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1050,"y":140,"wires":[["76de2abf19682f9a"]]},{"id":"45136ce2f138d4c7","type":"api-call-service","z":"305e2859432885f9","name":"Liga telas","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["ea3d40ff885b178cb80bd81bfbe0ab39"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":80,"wires":[[]]},{"id":"62b36bb7efb51bb1","type":"api-call-service","z":"305e2859432885f9","name":"Liga led","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["e7b803412929dc2efc677c6dbed27b1a","5ec7b0cf916fe74aa4294cb0869d488a"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":80,"wires":[["45136ce2f138d4c7"]]},{"id":"e4f997747f3b1f59","type":"function","z":"305e2859432885f9","name":"liga ou desliga?","func":"if (msg.payload.description.summary.toLowerCase() === \"ativar escritório\") {\n    return [{ payload: 'on' }, null];\n} else {\n    return [null, { payload: 'off' }];\n}\n    ","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":100,"wires":[["62b36bb7efb51bb1"],["0d730262ed0a0236"]]},{"id":"ea3e999096a571ed","type":"api-call-service","z":"305e2859432885f9","name":"Desliga telas","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["ea3d40ff885b178cb80bd81bfbe0ab39"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":140,"wires":[[]]},{"id":"0d730262ed0a0236","type":"api-call-service","z":"305e2859432885f9","name":"Desiga led","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["e7b803412929dc2efc677c6dbed27b1a","5ec7b0cf916fe74aa4294cb0869d488a"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":140,"wires":[["ea3e999096a571ed"]]},{"id":"b8cd2768490a98eb","type":"api-current-state","z":"627701f3d7a7ef74","name":"Localização Rodrigo ","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.rodrigo_lima","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":60,"wires":[["22c714fc07959fd8"]]},{"id":"7f24da814fe1f4ce","type":"api-current-state","z":"627701f3d7a7ef74","name":"status note trabalho","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.notebook_trabalho","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":190,"y":120,"wires":[["2704ba0c32248e51"]]},{"id":"2704ba0c32248e51","type":"switch","z":"627701f3d7a7ef74","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":120,"wires":[["b8cd2768490a98eb"],["90d085ebadaedc9b"]]},{"id":"22c714fc07959fd8","type":"switch","z":"627701f3d7a7ef74","name":"Em casa?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":60,"wires":[[],["90d085ebadaedc9b"]]},{"id":"90d085ebadaedc9b","type":"api-current-state","z":"627701f3d7a7ef74","name":"Localização Rodrigo ","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.rodrigo_lima","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":140,"wires":[["ba8433baed1c98bf"]]},{"id":"ba8433baed1c98bf","type":"switch","z":"627701f3d7a7ef74","name":"No Paradise?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Trabalho","vt":"str"},{"t":"neq","v":"Trabalho","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":140,"wires":[[],["7896be3d1543d2c2"]]},{"id":"7896be3d1543d2c2","type":"api-current-state","z":"627701f3d7a7ef74","name":"Localização Rodrigo ","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.rodrigo_lima","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":220,"wires":[["549d8f8647cc3411"]]},{"id":"549d8f8647cc3411","type":"switch","z":"627701f3d7a7ef74","name":"Na Brasilcard?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Escritório Brasilcard","vt":"str"},{"t":"neq","v":"Escritório Brasilcard","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":220,"wires":[[],[]]},{"id":"51815cce0d6c2e4f","type":"api-call-service","z":"6a022f14b149d7bd","name":"","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.abaixar_10_volume_tv"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":160,"wires":[["9d3a6d12bb40edb0"]]},{"id":"9d3a6d12bb40edb0","type":"loop","z":"6a022f14b149d7bd","name":"","kind":"fcnt","count":"10","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-orig","x":250,"y":80,"wires":[[],["dd2c24aa9d0b305b"]]},{"id":"dd2c24aa9d0b305b","type":"delay","z":"6a022f14b149d7bd","name":"","pauseType":"delay","timeout":"3.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":190,"y":160,"wires":[["51815cce0d6c2e4f"]]},{"id":"ca488bb5d2f734bc","type":"debug","z":"debe9cfe5aac4d6d","name":"debug 51","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":80,"wires":[]},{"id":"4e726b86a159280f","type":"time-range-switch","z":"debe9cfe5aac4d6d","name":"","lat":"","lon":"","startTime":"07:30","endTime":"07:30","startOffset":"-30","endOffset":"-30","x":1370,"y":80,"wires":[["ca488bb5d2f734bc"],[]]},{"id":"9ef9a8517acdda0c","type":"function","z":"debe9cfe5aac4d6d","name":"Configura time range do alarme","func":"let states = global.get(\"homeassistant.homeAssistant\").states;\nvar offset = states[\"input_number.alarm_offset\"].state;\nvar lat = states[\"person.rodrigo_lima\"].attributes.latitude;\nvar lon = states[\"person.rodrigo_lima\"].attributes.longitude;\nvar hour = msg.data.attributes.hour\nvar minute = msg.data.attributes.minute\nmsg.__config = {\n    startTime: hour + ':' + minute + ':00',\n    endTime: hour + ':' + minute + ':59',\n    startOffset: -offset,\n    endOffset: -offset,\n    lat: lat,\n    lon: lon\n}\nmsg.msg = 'Despertador executado';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":80,"wires":[["4e726b86a159280f"]]},{"id":"3bb67bf68af84898","type":"function","z":"debe9cfe5aac4d6d","name":"obtém entidades alarm","func":"const weekday = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n\nconst d = new Date();\nlet day = weekday[d.getDay()];\n\nmsg.input_boolean = 'input_boolean.alarm_' + day;\nmsg.input_datetime = 'input_datetime.alarm_time_' + day;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["6aada15726c84226"]]},{"id":"0ee047aca9dddffc","type":"api-current-state","z":"debe9cfe5aac4d6d","name":"chave geral ligada","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.alarm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":80,"wires":[["3bb67bf68af84898"],[]]},{"id":"6aada15726c84226","type":"api-current-state","z":"debe9cfe5aac4d6d","name":"despertador de hoje ligado?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{input_boolean}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":80,"wires":[["766718d1399d7e6a"],[]]},{"id":"766718d1399d7e6a","type":"api-current-state","z":"debe9cfe5aac4d6d","name":"hora programada para hoje","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{input_datetime}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"alarm","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":880,"y":80,"wires":[["9ef9a8517acdda0c"]]},{"id":"c01334384f40f3ac","type":"api-current-state","z":"da0c1becfd17b269","name":"","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.led_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":160,"wires":[["b174e88b42bccc34"]]},{"id":"b174e88b42bccc34","type":"function","z":"da0c1becfd17b269","name":"function 18","func":"function newBrightness(current_brightness) {\n    var newBrightnessPct = (current_brightness / 256 + 0.1) * 100\n    return parseFloat(Math.max(0, Math.min(100, Math.round(newBrightnessPct))))\n}\n\nmsg.payload = {\n        \"data\": {\n            \"entity_id\": msg.topic,\n            \"brightness_pct\": newBrightness(msg.data.attributes.brightness)\n        }\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":160,"wires":[["2ec4a48c1a34a299"]]},{"id":"2ec4a48c1a34a299","type":"api-call-service","z":"da0c1becfd17b269","name":"","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.led_tv","light.luminaria"],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"msg","propertyType":"msg","value":"Brilho incrementado em 10%","valueType":"str"}],"queue":"none","output_location":"","output_location_type":"none","x":710,"y":160,"wires":[["12769f9f473e691b"]]},{"id":"12769f9f473e691b","type":"loop","z":"da0c1becfd17b269","name":"","kind":"fcnt","count":"10","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-orig","finalPayload":"final-orig","x":630,"y":80,"wires":[[],["d2b5d71c1d85f0ad"]]},{"id":"d2b5d71c1d85f0ad","type":"delay","z":"da0c1becfd17b269","name":"","pauseType":"delayv","timeout":"1800000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":160,"y":160,"wires":[["c01334384f40f3ac"]]},{"id":"1ed2f63b190984ad","type":"api-call-service","z":"da0c1becfd17b269","name":"Lâmpadas em 1% brilho","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.led_tv","light.luminaria"],"data":"{\"brightness_pct\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":370,"y":80,"wires":[["12769f9f473e691b"]]},{"id":"3a90b825dd292de0","type":"function","z":"da0c1becfd17b269","name":"function 19","func":"msg.delay = Math.ceil(msg.delay / 10);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":80,"wires":[["1ed2f63b190984ad"]]},{"id":"38851760a8f75d62","type":"api-current-state","z":"0a37ddcef5e5c70a","name":"tv ligada?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.tvpower","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":220,"y":40,"wires":[[],["e3aa6bb2d25da3f7"]]},{"id":"e3aa6bb2d25da3f7","type":"api-call-service","z":"0a37ddcef5e5c70a","name":"Liga TV","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.tvpower"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":160,"y":100,"wires":[["0bbdc8ce01d10e34"]]},{"id":"0bbdc8ce01d10e34","type":"delay","z":"0a37ddcef5e5c70a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":100,"wires":[[]]},{"id":"eba488b18f4e893a","type":"alexa-remote-routine","z":"e40b8e767de8b574","name":"","account":"f56e839fd346bcfb","routineNode":{"type":"stop","payload":{"devices":{"type":"msg","value":"payload.data.device.deviceName"}}},"x":390,"y":300,"wires":[[]]},{"id":"42e948786e121c01","type":"alexa-remote-event","z":"e40b8e767de8b574","name":"","account":"f56e839fd346bcfb","event":"ws-device-activity","x":130,"y":200,"wires":[["b950e33d0c41b210"]]},{"id":"d056ecd6c112a8bf","type":"alexa-remote-init","z":"e40b8e767de8b574","name":"","account":"f56e839fd346bcfb","option":"initialise","x":320,"y":40,"wires":[[]]},{"id":"b950e33d0c41b210","type":"switch","z":"e40b8e767de8b574","name":"","property":"payload.data.utteranceType","propertyType":"msg","rules":[{"t":"eq","v":"WAKE_WORD_ONLY","vt":"str"},{"t":"eq","v":"ASR_TIMEOUT","vt":"str"},{"t":"eq","v":"GENERAL","vt":"str"},{"t":"eq","v":"ROUTINES_OR_TAP_TO_ALEXA","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":200,"wires":[[],[],["eba488b18f4e893a","fa05258d79e08bcc"],["fa05258d79e08bcc","eba488b18f4e893a"]]},{"id":"fa05258d79e08bcc","type":"switch","z":"e40b8e767de8b574","name":"","property":"payload.description.summary","propertyType":"msg","rules":[{"t":"eq","v":"bom dia","vt":"str"},{"t":"eq","v":"boa noite","vt":"str"},{"t":"eq","v":"ativar escritório","vt":"str"},{"t":"eq","v":"desativar escritório","vt":"str"},{"t":"cont","v":"cor escritório","vt":"str"}],"checkall":"true","repair":true,"outputs":5,"x":510,"y":220,"wires":[["5782d31fb4855819"],["985fa1c7e789c2c4"],["87c0f28ffeb7aa52"],["87c0f28ffeb7aa52"],["852e998dbfdaa23c","e51525962f642d0f"]]},{"id":"b6453aa3015c99e5","type":"debug","z":"e40b8e767de8b574","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":260,"wires":[]},{"id":"c7bc1f17955327d5","type":"alexa-remote-routine","z":"e40b8e767de8b574","name":"","account":"f56e839fd346bcfb","routineNode":{"type":"textCommand","payload":{"text":{"type":"msg","value":"payload"},"devices":["G0922H07317201CT"]}},"x":530,"y":500,"wires":[[]]},{"id":"19a4f112312d4cb9","type":"inject","z":"e40b8e767de8b574","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"bom dia","payloadType":"str","x":170,"y":360,"wires":[["c7bc1f17955327d5"]]},{"id":"74b9267e49e86ec8","type":"inject","z":"e40b8e767de8b574","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"boa noite","payloadType":"str","x":160,"y":400,"wires":[["c7bc1f17955327d5"]]},{"id":"232087728707abf3","type":"inject","z":"e40b8e767de8b574","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ativar escritório","payloadType":"str","x":140,"y":440,"wires":[["c7bc1f17955327d5"]]},{"id":"933e51e052984d51","type":"inject","z":"e40b8e767de8b574","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"desativar escritório","payloadType":"str","x":130,"y":480,"wires":[["c7bc1f17955327d5"]]},{"id":"231198a245b667b8","type":"alexa-remote-routine","z":"e40b8e767de8b574","name":"","account":"f56e839fd346bcfb","routineNode":{"type":"stop","payload":{"devices":["ALEXA_ALL_DSN"]}},"x":1230,"y":500,"wires":[[]]},{"id":"6f523a1ee101618c","type":"inject","z":"e40b8e767de8b574","name":"Para tudo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1040,"y":500,"wires":[["231198a245b667b8"]]},{"id":"78960f1ef40d1dcf","type":"inject","z":"e40b8e767de8b574","name":"Força inicialização","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":150,"y":40,"wires":[["d056ecd6c112a8bf"]]},{"id":"87c0f28ffeb7aa52","type":"subflow:305e2859432885f9","z":"e40b8e767de8b574","name":"Liga / Desliga Setup","x":720,"y":260,"wires":[["b6453aa3015c99e5"]]},{"id":"c59466b4ce9a9eb1","type":"debug","z":"e40b8e767de8b574","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":180,"wires":[]},{"id":"fb6bcd66702f971f","type":"debug","z":"e40b8e767de8b574","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":220,"wires":[]},{"id":"985fa1c7e789c2c4","type":"subflow:8c744d79517d6f91","z":"e40b8e767de8b574","name":"Rotina Boa Noite","x":730,"y":220,"wires":[["fb6bcd66702f971f"]]},{"id":"5782d31fb4855819","type":"subflow:390e6e7172a1c9c0","z":"e40b8e767de8b574","name":"Rotina Bom Dia","x":740,"y":180,"wires":[["c59466b4ce9a9eb1"]]},{"id":"852e998dbfdaa23c","type":"function","z":"e40b8e767de8b574","name":"function 10","func":"const text = msg.payload.description.summary;\nconst word = 'cor';\n\nconst index = text.indexOf(word);\nconst length = word.length;\n\nconst result = text.slice(index + length);\n\nmsg.payload = result.trim();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":320,"wires":[["c95a63f492227be0"]]},{"id":"e51525962f642d0f","type":"debug","z":"e40b8e767de8b574","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":380,"wires":[]},{"id":"329708bb635c7164","type":"inject","z":"e40b8e767de8b574","name":"escritório na cor vermelho","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"cor escritório vermelho","payloadType":"str","x":150,"y":520,"wires":[["c7bc1f17955327d5"]]},{"id":"7fa317f9c228a0c6","type":"api-call-service","z":"e40b8e767de8b574","name":"","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luminaria"],"data":"{\t   \"transition\": \"3\",\t   \"color_name\": msg.payload,\t   \"brightness_pct\": \"100\"    \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":320,"wires":[[]]},{"id":"c95a63f492227be0","type":"google-translate","z":"e40b8e767de8b574","from":"pt","name":"","to":"en","x":860,"y":320,"wires":[["7fa317f9c228a0c6"]]},{"id":"40f0b51864337306","type":"inject","z":"e40b8e767de8b574","name":"Diminuir volume TV","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Diminuir volume TV","payloadType":"str","x":130,"y":560,"wires":[["c7bc1f17955327d5"]]},{"id":"1a116f583dc51123","type":"inject","z":"e40b8e767de8b574","name":"Aumentar volume TV","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Aumentar volume TV","payloadType":"str","x":140,"y":600,"wires":[["c7bc1f17955327d5"]]},{"id":"d620986d3f58a5a6","type":"debug","z":"a4b1f639f643cb9d","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"01bee79028e7d642","type":"debug","z":"a4b1f639f643cb9d","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":100,"wires":[]},{"id":"8e10e4aafa24f96d","type":"subflow:8c744d79517d6f91","z":"a4b1f639f643cb9d","name":"Rotina Boa Noite","x":490,"y":100,"wires":[["01bee79028e7d642"]]},{"id":"5932f21f6baa426f","type":"subflow:390e6e7172a1c9c0","z":"a4b1f639f643cb9d","name":"Rotina Bom Dia","x":500,"y":60,"wires":[["d620986d3f58a5a6"]]},{"id":"e5dcf4e3fe6c129a","type":"ha-tag","z":"a4b1f639f643cb9d","name":"Modo dormindo","server":"a766b0db0a43fc27","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["f553ec3f-0ebf-449f-bc5d-fe833b0581f6"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":80,"wires":[["0384802d09ff18bc"]]},{"id":"0384802d09ff18bc","type":"api-current-state","z":"a4b1f639f643cb9d","name":"Ativo?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dormindo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":80,"wires":[["5932f21f6baa426f"],["8e10e4aafa24f96d"]]},{"id":"b092dcb43fdfe5be","type":"ha-tag","z":"a4b1f639f643cb9d","name":"Luz garagem","server":"a766b0db0a43fc27","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["4640205a-b477-4a80-b496-4f38376f1b1e"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":200,"wires":[["9a85171e24b625b2"]]},{"id":"9a85171e24b625b2","type":"api-call-service","z":"a4b1f639f643cb9d","name":"Toggle","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.luz_garagem"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":200,"wires":[["51f06dc7654952a1"]]},{"id":"51f06dc7654952a1","type":"debug","z":"a4b1f639f643cb9d","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":200,"wires":[]},{"id":"c271395653a5b0e4","type":"trigger-state","z":"f11ae74ba4747822","name":"Porta do quarto abriu","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.contact_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":80,"wires":[["d677f2b1283a1204"],[]],"outputLabels":["Porta aberta","Porta fechada"]},{"id":"0ee302e826596bd5","type":"debug","z":"f11ae74ba4747822","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":80,"wires":[]},{"id":"86e9b96faf9e9406","type":"api-current-state","z":"f11ae74ba4747822","name":"Luz Quarto Acesa?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.luz_quarto","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":80,"wires":[[],["b45654fa1af01b87"]],"outputLabels":["Acesa","Apagada"]},{"id":"f4dfd27b16a185fc","type":"api-call-service","z":"f11ae74ba4747822","name":"Acende luz quarto","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.luz_quarto"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Luz quarto acesa automaticamente","valueType":"str"}],"queue":"none","x":1330,"y":80,"wires":[["0ee302e826596bd5"]]},{"id":"b45654fa1af01b87","type":"api-current-state","z":"f11ae74ba4747822","name":"Estou dormindo?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dormindo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1110,"y":80,"wires":[[],["f4dfd27b16a185fc"]]},{"id":"e48c6ae002ad578b","type":"trigger-state","z":"f11ae74ba4747822","name":"Presença detectada garagem","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.sensor_pir_2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":140,"y":440,"wires":[["4b26d40a82c96ebf"],[]]},{"id":"c51b8377e36b3f33","type":"debug","z":"f11ae74ba4747822","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":440,"wires":[]},{"id":"bc626e2a2513e1b2","type":"api-call-service","z":"f11ae74ba4747822","name":"Acende luz garagem","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.luz_garagem"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Luz garagem acesa automaticamente","valueType":"str"}],"queue":"none","x":980,"y":440,"wires":[["c51b8377e36b3f33"]]},{"id":"b87833ded2fed12f","type":"delay","z":"f11ae74ba4747822","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":680,"y":580,"wires":[["2245f831dc86baea"]]},{"id":"74e9fe95e0a15136","type":"api-call-service","z":"f11ae74ba4747822","name":"Apaga luz garagem","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.luz_garagem"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Luz garagem apagada automaticamente","valueType":"str"}],"queue":"none","x":870,"y":580,"wires":[["d032ebaad01c74d7"]]},{"id":"527d35102b13e42b","type":"comment","z":"f11ae74ba4747822","name":"Apagar luz garagem automaticamente","info":"Sempre que luz garagem acender, iniciar timer de 5 minutos e apagar a luz ao final desse tempo.","x":170,"y":540,"wires":[]},{"id":"c8bacbe16b4a8781","type":"comment","z":"f11ae74ba4747822","name":"Acender luz garagem automaticamente","info":"Acender luz da garagem automaticamente sempre que for detectada presença no local e for de noite.","x":170,"y":400,"wires":[]},{"id":"d032ebaad01c74d7","type":"debug","z":"f11ae74ba4747822","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":580,"wires":[]},{"id":"b269a74b6a8103d1","type":"trigger-state","z":"f11ae74ba4747822","name":"Luz garagem acendeu","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.luz_garagem","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":120,"y":580,"wires":[["38270d55d76c04c5"],[]]},{"id":"a02ff7cce2c8257c","type":"comment","z":"f11ae74ba4747822","name":"Acender luz quarto automaticamente","info":"Acender luz do quarto automaticamente caso seja de noite, sem ninguém dentro do quarto por pelo menos 30 minutos","x":160,"y":40,"wires":[]},{"id":"df85a17711649926","type":"time-range-switch","z":"f11ae74ba4747822","name":"Sunset - Sunrise","lat":"-21.19228168","lon":"-46.97958291","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":670,"y":80,"wires":[["86e9b96faf9e9406"],[]]},{"id":"15408fef963786d8","type":"api-call-service","z":"f11ae74ba4747822","name":"Apaga luz quarto","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.luz_quarto"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Luz quarto apagada automaticamente","valueType":"str"}],"queue":"none","x":870,"y":220,"wires":[["fb7068d6f72a1ca1"]]},{"id":"39d9173c163243bf","type":"comment","z":"f11ae74ba4747822","name":"Apagar luz quarto automaticamente","info":"Sempre que luz quarto acender, iniciar timer de 5 minutos e apagar a luz ao final desse tempo.","x":160,"y":180,"wires":[]},{"id":"fb7068d6f72a1ca1","type":"debug","z":"f11ae74ba4747822","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":220,"wires":[]},{"id":"cb0c646eb651a326","type":"trigger-state","z":"f11ae74ba4747822","name":"Luz quarto acendeu","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.luz_quarto","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":220,"wires":[["4dc0a51ba283c70a"],[]]},{"id":"2478b47a41871fd1","type":"delay","z":"f11ae74ba4747822","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":220,"wires":[["fb0dc919e42d1c56"]]},{"id":"fb0dc919e42d1c56","type":"api-current-state","z":"f11ae74ba4747822","name":"Ninguém no ambiente?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sensor_pir_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"debug","propertyType":"msg","value":"Presença detectada quarto. Aguardar","valueType":"str"}],"for":"4","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":300,"wires":[["15408fef963786d8"],["2478b47a41871fd1","dc0d5ed8f72878b7"]]},{"id":"2245f831dc86baea","type":"api-current-state","z":"f11ae74ba4747822","name":"Ninguém no ambiente?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sensor_pir_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":660,"wires":[["74e9fe95e0a15136"],["b87833ded2fed12f"]]},{"id":"e2257812bdd1bfd9","type":"time-range-switch","z":"f11ae74ba4747822","name":"Sunset - Sunrise","lat":"-21.19228168","lon":"-46.97958291","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":730,"y":440,"wires":[["bc626e2a2513e1b2"],[]]},{"id":"dc0d5ed8f72878b7","type":"debug","z":"f11ae74ba4747822","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":300,"wires":[]},{"id":"d677f2b1283a1204","type":"api-current-state","z":"f11ae74ba4747822","name":"Liga / Desliga automação luz quarto","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.auto_switch_room_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":80,"wires":[["df85a17711649926"],[]]},{"id":"4dc0a51ba283c70a","type":"api-current-state","z":"f11ae74ba4747822","name":"Liga / Desliga automação luz quarto","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.auto_switch_room_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":220,"wires":[["2478b47a41871fd1"],[]]},{"id":"4b26d40a82c96ebf","type":"api-current-state","z":"f11ae74ba4747822","name":"Liga / Desliga automação luz garagem","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.auto_switch_garage_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":440,"wires":[["e2257812bdd1bfd9"],[]]},{"id":"38270d55d76c04c5","type":"api-current-state","z":"f11ae74ba4747822","name":"Liga / Desliga automação luz garagem","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.auto_switch_garage_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":580,"wires":[["b87833ded2fed12f"],[]]},{"id":"f6d3337375d10d02","type":"comment","z":"fbc40dcc948bdaf8","name":"Bebi agua","info":"Ao clicar no botão ou escanear a tag atualizar o helper que registra a última vez que bebi água","x":80,"y":80,"wires":[]},{"id":"f3d3f9759374869c","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Ultima vez que bebi agua","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"($toMillis($split($entity().state,\" \")[0]&\"T\"&$split($entity().state,\" \")[1]&\".000\") < $toMillis($fromMillis($millis()-3600000,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].000', '-0300')))","halt_if_type":"jsonata","halt_if_compare":"jsonata","entity_id":"input_datetime.last_time_drank_water_helper","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"f1","propertyType":"msg","value":"($toMillis($split(data.state,\" \")[0]&\"T\"&$split(data.state,\" \")[1]&\".000\") < $toMillis($fromMillis($millis()-3600000,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].000', '-0300')))","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":580,"wires":[["f7793f2b80df0796"],[]]},{"id":"052f5152c5f8d612","type":"poll-state","z":"fbc40dcc948bdaf8","name":"Lembrar de beber água ativo?","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"input_boolean.water_drink_reminder","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":140,"y":480,"wires":[["96f62257869c30a1"],[]]},{"id":"96f62257869c30a1","type":"time-range-switch","z":"fbc40dcc948bdaf8","name":"8:00 - 23:00","lat":"-21.19228168","lon":"-46.97958291","startTime":"08:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":370,"y":480,"wires":[["d401aad99dd3db55"],[]]},{"id":"d401aad99dd3db55","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Estou dormindo?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.dormindo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":560,"wires":[[],["d05bafd5e0cabd6b"]]},{"id":"19c635d5b87e5474","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"qtde água ingerida menor que máx","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"$entities(\"input_number.ideal_daily_water_ingestion\").state","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"input_number.drinked_water_amount","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":660,"wires":[["f3d3f9759374869c"],[]]},{"id":"4c6e0c7e21978b0e","type":"telegram command","z":"fbc40dcc948bdaf8","name":"","command":"/drinkWater","description":"","registercommand":false,"language":"","scope":"default","bot":"2bb0c017a84126ef","strict":false,"hasresponse":true,"useregex":true,"removeregexcommand":false,"outputs":2,"x":90,"y":240,"wires":[["bce54efbcffb6559"],[]]},{"id":"bce54efbcffb6559","type":"function","z":"fbc40dcc948bdaf8","name":"function 2","func":"var drink_amount = msg.payload.content.trim();\nif (drink_amount == null || drink_amount === '') {\n    drink_amount = 450;\n}\nvar amount_water_today = global.get(\"homeassistant.homeAssistant\").states[\"input_number.drinked_water_amount\"].state;\n\nmsg.payload = parseFloat(amount_water_today) + parseFloat(drink_amount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":220,"wires":[["9e3f1fd8d140d6da"]]},{"id":"a571ba41124c9ccd","type":"api-call-service","z":"fbc40dcc948bdaf8","name":"qtde de agua ingerida","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.drinked_water_amount"],"data":"{    \"value\": msg.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":220,"wires":[["61a998946f3be747"]]},{"id":"6a6701f988d512d3","type":"inject","z":"fbc40dcc948bdaf8","name":"Zera qtde de água ingerida ao final do dia","props":[{"p":"payload"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":210,"y":40,"wires":[["612eb7c6b91b216c"]]},{"id":"612eb7c6b91b216c","type":"api-call-service","z":"fbc40dcc948bdaf8","name":"qtde de agua ingerida","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.drinked_water_amount"],"data":"{    \"value\": 0.0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Qtde de água ingerida reiniciada para o próximo dia!","valueType":"str"}],"queue":"none","x":500,"y":40,"wires":[["f55e511ee846df35"]]},{"id":"f55e511ee846df35","type":"debug","z":"fbc40dcc948bdaf8","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":40,"wires":[]},{"id":"fbed94761390bd2b","type":"function","z":"fbc40dcc948bdaf8","name":"function 3","func":"var opts = {\n    \"reply_markup\": JSON.stringify({\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Beber 450ml\",\n                \"callback_data\": \"1\"\n            },\n            {\n                \"text\": \"Beber 600ml\",\n                \"callback_data\": \"2\"\n            },\n            {\n                \"text\": \"Lembrar depois!\",\n                \"callback_data\": \"3\"\n            }]\n        ]\n    })\n};\nmsg.payload = {\n    \"chatId\": \"1088325474\",\n    \"type\": \"message\",\n    \"content\": \"Faz pelo menos 1 hora que não bebe água!!\",\n    \"options\": opts\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":500,"wires":[["6d18164055efa263"]]},{"id":"85b7fcc23e493688","type":"inject","z":"fbc40dcc948bdaf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":440,"wires":[["fbed94761390bd2b"]]},{"id":"3b5e8120fb4303fa","type":"telegram event","z":"fbc40dcc948bdaf8","name":"","bot":"2bb0c017a84126ef","event":"callback_query","autoanswer":false,"x":100,"y":300,"wires":[["79a3363984f6bc60","f1be21c74041e19d"]]},{"id":"79a3363984f6bc60","type":"function","z":"fbc40dcc948bdaf8","name":"function 4","func":"msg.callback = msg.payload;\n\nvar amount_water_today = global.get(\"homeassistant.homeAssistant\").states[\"input_number.drinked_water_amount\"].state;\nvar idealy_amount_per_day = global.get(\"homeassistant.homeAssistant\").states[\"input_number.ideal_daily_water_ingestion\"].state;\n\nif (msg.callback.content == 1) {\n    amount_water_today = parseFloat(amount_water_today) + 450;\n    msg.payload.content = \"Ok! Registrei o consumo de 450ml de água! Você já ingeriu \" + amount_water_today + \"ml do total de \" + parseFloat(idealy_amount_per_day) + \"ml que tem para ingerir hoje!\";\n}\nif (msg.callback.content == 2) {\n    amount_water_today = parseFloat(amount_water_today) + 600;\n    msg.payload.content = \"Ok! Registrei o consumo de 600ml de água! Você já ingeriu \" + amount_water_today + \"ml do total de \" + parseFloat(idealy_amount_per_day) + \"ml que tem para ingerir hoje!\";\n}\nif (msg.callback.content == 3) {\n    msg.payload.content = \"Ok! Logo mais te aviso novamente!\"\n}\n\nmsg.payload.chatId = 1088325474;\nmsg.payload.type = \"message\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["86b370abb1472e7d"]]},{"id":"f1be21c74041e19d","type":"switch","z":"fbc40dcc948bdaf8","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":340,"wires":[["4da761e9466d7552"],["2538a7b33cb32b5a"],["24ed69969385bcd1"]]},{"id":"4da761e9466d7552","type":"function","z":"fbc40dcc948bdaf8","name":"function 5","func":"var drink_amount = 450;\nvar amount_water_today = global.get(\"homeassistant.homeAssistant\").states[\"input_number.drinked_water_amount\"].state;\n\nmsg.payload = parseFloat(amount_water_today) + parseFloat(drink_amount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["08a7544516ad3466"]]},{"id":"2538a7b33cb32b5a","type":"function","z":"fbc40dcc948bdaf8","name":"function 6","func":"var drink_amount = 600;\nvar amount_water_today = global.get(\"homeassistant.homeAssistant\").states[\"input_number.drinked_water_amount\"].state;\n\nmsg.payload = parseFloat(amount_water_today) + parseFloat(drink_amount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":360,"wires":[["08a7544516ad3466"]]},{"id":"79e4bbe1d232328c","type":"debug","z":"fbc40dcc948bdaf8","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":220,"wires":[]},{"id":"212ca36836e9016d","type":"api-call-service","z":"fbc40dcc948bdaf8","name":"Ultima vez que bebi agua","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_datetime","service":"set_datetime","areaId":[],"deviceId":[],"entityId":["input_datetime.last_time_drank_water_helper"],"data":"{\"datetime\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":220,"wires":[["79e4bbe1d232328c"]]},{"id":"61a998946f3be747","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Data e hora atual","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.date_time_iso","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":220,"wires":[["212ca36836e9016d"]]},{"id":"bb49e82c96204913","type":"debug","z":"fbc40dcc948bdaf8","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":160,"wires":[]},{"id":"24ed69969385bcd1","type":"function","z":"fbc40dcc948bdaf8","name":"function 7","func":"var opts = {\n    \"reply_markup\": JSON.stringify({\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Beber 450ml\",\n                \"callback_data\": \"1\"\n            },\n            {\n                \"text\": \"Beber 600ml\",\n                \"callback_data\": \"2\"\n            },\n            {\n                \"text\": \"Lembrar depois!\",\n                \"callback_data\": \"3\"\n            }]\n        ]\n    })\n};\nmsg.payload = {\n    \"chatId\": \"1088325474\",\n    \"type\": \"message\",\n    \"content\": \"Faz pelo menos 1 hora que não bebe água!!\",\n    \"options\": opts\n}\n\n// Snooze time in format hh:mm:ss\nlet t = global.get(\"homeassistant.homeAssistant\").states[\"timer.snooze_notifiy_drank_water_helper\"].attributes.duration;\n// Snooze time in miliseconds\nmsg.delay = Number(t.split(':')[0]) * 60 * 60 * 1000 + Number(t.split(':')[1]) * 60 * 1000 + Number(t.split(':')[2]) * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["f87a1708f56b595d"]]},{"id":"f87a1708f56b595d","type":"delay","z":"fbc40dcc948bdaf8","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":380,"wires":[["c0cfb1472e0785b1"]]},{"id":"f7793f2b80df0796","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Ultima vez que lembrete enviado","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"($toMillis($split($entity().state,\" \")[0]&\"T\"&$split($entity().state,\" \")[1]&\".000\") < $toMillis($fromMillis($millis()-900000,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].000', '-0300')))","halt_if_type":"jsonata","halt_if_compare":"jsonata","entity_id":"input_datetime.last_time_water_drink_reminder_sent","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"f1","propertyType":"msg","value":"($toMillis($split(data.state,\" \")[0]&\"T\"&$split(data.state,\" \")[1]&\".000\") < $toMillis($fromMillis($millis()-3600000,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].000', '-0300')))","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":680,"y":500,"wires":[["fbed94761390bd2b"],[]]},{"id":"f9729fc48a96c92b","type":"link in","z":"fbc40dcc948bdaf8","name":"Entrada envia notificação telegram","links":["0b8595949b0a069c","86b370abb1472e7d","6d18164055efa263"],"x":505,"y":160,"wires":[["7bf5dd587bc2409a"]]},{"id":"7bf5dd587bc2409a","type":"telegram sender","z":"fbc40dcc948bdaf8","name":"","bot":"2bb0c017a84126ef","haserroroutput":false,"outputs":1,"x":630,"y":160,"wires":[["b48399a0e3d19e2f"]]},{"id":"b48399a0e3d19e2f","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Data e hora atual","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.date_time_iso","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":160,"wires":[["ba0383cbc93e4518"]]},{"id":"ba0383cbc93e4518","type":"api-call-service","z":"fbc40dcc948bdaf8","name":"Ultima notificação enviada","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_datetime","service":"set_datetime","areaId":[],"deviceId":[],"entityId":["input_datetime.last_time_water_drink_reminder_sent"],"data":"{\"datetime\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":160,"wires":[["bb49e82c96204913"]]},{"id":"0b8595949b0a069c","type":"link out","z":"fbc40dcc948bdaf8","name":"Envia notificação","mode":"link","links":["f9729fc48a96c92b"],"x":895,"y":380,"wires":[]},{"id":"86b370abb1472e7d","type":"link out","z":"fbc40dcc948bdaf8","name":"Envia notificação","mode":"link","links":["f9729fc48a96c92b"],"x":385,"y":280,"wires":[]},{"id":"6d18164055efa263","type":"link out","z":"fbc40dcc948bdaf8","name":"Envia notificação","mode":"link","links":["f9729fc48a96c92b"],"x":1045,"y":500,"wires":[]},{"id":"75a628de47748fd8","type":"link in","z":"fbc40dcc948bdaf8","name":"Registra consumo de água","links":["9e3f1fd8d140d6da","b3d6cb148596cc7c","08a7544516ad3466"],"x":505,"y":220,"wires":[["a571ba41124c9ccd"]]},{"id":"9e3f1fd8d140d6da","type":"link out","z":"fbc40dcc948bdaf8","name":"link out 1","mode":"link","links":["75a628de47748fd8"],"x":335,"y":220,"wires":[]},{"id":"f347756b7e1cd770","type":"trigger-state","z":"fbc40dcc948bdaf8","name":"Bebi agua","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_button.drank_water_button_helper","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":""}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":80,"y":120,"wires":[["5153e0a2191de465"],[]]},{"id":"b3d6cb148596cc7c","type":"link out","z":"fbc40dcc948bdaf8","name":"link out 2","mode":"link","links":["75a628de47748fd8"],"x":335,"y":140,"wires":[]},{"id":"08a7544516ad3466","type":"link out","z":"fbc40dcc948bdaf8","name":"link out 3","mode":"link","links":["75a628de47748fd8"],"x":525,"y":340,"wires":[]},{"id":"c0cfb1472e0785b1","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Ultima vez que bebi agua","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"($toMillis($split($entity().state,\" \")[0]&\"T\"&$split($entity().state,\" \")[1]&\".000\") < $toMillis($fromMillis($millis()-3600000,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].000', '-0300')))","halt_if_type":"jsonata","halt_if_compare":"jsonata","entity_id":"input_datetime.last_time_drank_water_helper","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"f1","propertyType":"msg","value":"($toMillis($split(data.state,\" \")[0]&\"T\"&$split(data.state,\" \")[1]&\".000\") < $toMillis($fromMillis($millis()-3600000,'[Y0001]-[M01]-[D01]T[H01]:[m01]:[s01].000', '-0300')))","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":380,"wires":[["0b8595949b0a069c"],[]]},{"id":"5153e0a2191de465","type":"function","z":"fbc40dcc948bdaf8","name":"function 8","func":"var drink_amount = 450;\nvar amount_water_today = global.get(\"homeassistant.homeAssistant\").states[\"input_number.drinked_water_amount\"].state;\n\nmsg.payload = parseFloat(amount_water_today) + parseFloat(drink_amount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":140,"wires":[["b3d6cb148596cc7c"]]},{"id":"18393cfaedb27414","type":"ha-tag","z":"fbc40dcc948bdaf8","name":"","server":"a766b0db0a43fc27","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["7e86bd9f-053a-4207-ac8f-e354308b37c2"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":180,"wires":[["5153e0a2191de465"]]},{"id":"5a1d3e62649750c3","type":"function","z":"fbc40dcc948bdaf8","name":"function 9","func":"let states = global.get(\"homeassistant.homeAssistant\").states;\nvar amount_water_today = states[\"input_number.drinked_water_amount\"].state;\nvar idealy_amount_per_day = states[\"input_number.ideal_daily_water_ingestion\"].state;\nvar last_time_water_drink_reminder_sent = states[\"input_datetime.last_time_water_drink_reminder_sent\"].state;\nvar last_time_drank_water_helper = states[\"input_datetime.last_time_drank_water_helper\"].state;\n\nvar water_ingested_percentage = (amount_water_today * 100 / idealy_amount_per_day);\n\nvar d = new Date();\nvar pctDayElapsed = parseFloat(((d.getHours() * 3600 + d.getMinutes() * 60 + d.getSeconds() + d.getMilliseconds() / 1000) / 86400)*100);\nvar necessary_drink_times = idealy_amount_per_day / 450;\n\nlet filteredHistory = msg.payload.filter((drink) => {\n    let thetime = (drink.last_changed);\n    let drinkDay = new Date(thetime);\n    let today = new Date();\n    \n    return drinkDay.getDay() == today.getDay() && drink.state != \"0.0\";\n});\n\nmsg = {};\nmsg.water_ingested_percentage = water_ingested_percentage;\nmsg.pctDayElapsed = Math.trunc(pctDayElapsed);\nmsg.necessary_drink_times = necessary_drink_times;\nmsg.drinkHistory = filteredHistory;\nmsg.drinked_times_today = filteredHistory.length;\nmsg.drinked_times_today_pct = (filteredHistory.length / necessary_drink_times)*100;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":720,"wires":[["3cef07b760f4467f"]]},{"id":"cf45e12ff0811158","type":"inject","z":"fbc40dcc948bdaf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1120,"y":720,"wires":[["d9f0d16d9514625a"]]},{"id":"3cef07b760f4467f","type":"debug","z":"fbc40dcc948bdaf8","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":720,"wires":[]},{"id":"d9f0d16d9514625a","type":"api-get-history","z":"fbc40dcc948bdaf8","name":"","server":"a766b0db0a43fc27","version":0,"startdate":"","enddate":"","entityid":"input_number.drinked_water_amount","entityidtype":"is","useRelativeTime":true,"relativeTime":"24 h","flatten":true,"output_type":"array","output_location_type":"msg","output_location":"payload","x":1270,"y":720,"wires":[["5a1d3e62649750c3"]]},{"id":"ef3082346030d7e5","type":"api-call-service","z":"fbc40dcc948bdaf8","name":"qtde de agua ingerida","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["sensor.hydration"],"data":"{    \"value\": 0.45}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":780,"wires":[["5b6084ca4f71f914"]]},{"id":"06c3c2c62225cb3f","type":"inject","z":"fbc40dcc948bdaf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1120,"y":780,"wires":[["ef3082346030d7e5"]]},{"id":"5b6084ca4f71f914","type":"debug","z":"fbc40dcc948bdaf8","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1520,"y":780,"wires":[]},{"id":"63ae72265842d1ba","type":"inject","z":"fbc40dcc948bdaf8","name":"","props":[{"p":"payload"},{"p":"userId","v":"18856554951-69m1fuo5fep2i55q1d99coqnmvoqdinj.apps.googleusercontent.com","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1360,"y":620,"wires":[[]]},{"id":"35f7e5054133d6e9","type":"debug","z":"fbc40dcc948bdaf8","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1540,"y":620,"wires":[]},{"id":"9815722f86193292","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Estou caminhando?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.caminhando","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":680,"wires":[[],["19c635d5b87e5474"]]},{"id":"d05bafd5e0cabd6b","type":"api-current-state","z":"fbc40dcc948bdaf8","name":"Estou treinando?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.treinando","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":620,"wires":[[],["9815722f86193292"]]},{"id":"b0491870154e49e8","type":"poll-state","z":"2d606eb80d72dd79","name":"Sensor presença garagem","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"15","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.sensor_pir_2","state_type":"str","halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":130,"y":40,"wires":[[],["f95f433808df4869"]]},{"id":"f95f433808df4869","type":"debug","z":"2d606eb80d72dd79","name":"Sensor presença garagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":40,"wires":[]},{"id":"79533e0a54ab3a42","type":"poll-state","z":"2d606eb80d72dd79","name":"Sensor presença quarto","server":"a766b0db0a43fc27","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"15","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.sensor_pir_3","state_type":"str","halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"x":120,"y":100,"wires":[[],["8ecae44de89baef3"]]},{"id":"8ecae44de89baef3","type":"debug","z":"2d606eb80d72dd79","name":"Sensor presença quarto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":120,"wires":[]},{"id":"2ba415ce81e1eec5","type":"comment","z":"2a8c346910e9b543","name":"Apenas 1 modo ativo por vez","info":"","x":140,"y":40,"wires":[]},{"id":"f71b7cdabb984387","type":"api-call-service","z":"2a8c346910e9b543","name":"Desliga outros modos","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.caminhando","input_boolean.dormindo","input_boolean.trabalhando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":140,"wires":[[]]},{"id":"159eee1b3c52fa18","type":"server-state-changed","z":"2a8c346910e9b543","name":"Modo treinando ativo","server":"a766b0db0a43fc27","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.treinando","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":140,"wires":[["f71b7cdabb984387"],[]]},{"id":"0ed1f886f76eccbf","type":"api-call-service","z":"2a8c346910e9b543","name":"Desliga outros modos","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.caminhando","input_boolean.trabalhando","input_boolean.treinando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":80,"wires":[[]]},{"id":"ec28d4510c95d722","type":"server-state-changed","z":"2a8c346910e9b543","name":"Modo dormindo ativo","server":"a766b0db0a43fc27","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.dormindo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":80,"wires":[["0ed1f886f76eccbf"],[]]},{"id":"1d6d808bd326ba2b","type":"api-call-service","z":"2a8c346910e9b543","name":"Desliga outros modos","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.dormindo","input_boolean.trabalhando","input_boolean.treinando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":200,"wires":[[]]},{"id":"5e433853665b8701","type":"server-state-changed","z":"2a8c346910e9b543","name":"Modo caminhando ativo","server":"a766b0db0a43fc27","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.caminhando","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":200,"wires":[["1d6d808bd326ba2b"],[]]},{"id":"d120121d12dc8d91","type":"api-call-service","z":"2a8c346910e9b543","name":"Desliga outros modos","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.caminhando","input_boolean.dormindo","input_boolean.treinando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":260,"wires":[[]]},{"id":"11954fbb41fe34cf","type":"server-state-changed","z":"2a8c346910e9b543","name":"Modo trabalhando ativo","server":"a766b0db0a43fc27","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.trabalhando","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":260,"wires":[["d120121d12dc8d91"],[]]},{"id":"3c5ef6be16e4c94e","type":"inject","z":"2a8c346910e9b543","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["c7349cc34d63ae8a"]]},{"id":"f866fdda7cba2f6c","type":"api-call-service","z":"2a8c346910e9b543","name":"Ativa modo","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.trabalhando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Modo trabalhando ativado","valueType":"str"}],"queue":"none","x":730,"y":460,"wires":[["4245413f5b76a80b"]]},{"id":"c7349cc34d63ae8a","type":"api-current-state","z":"2a8c346910e9b543","name":"modo trabalho ativado?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.trabalhando","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":420,"wires":[["3f7d64d19bbf32db"],["e6737fd7c7d5f3a4"]]},{"id":"4245413f5b76a80b","type":"debug","z":"2a8c346910e9b543","name":"debug 37","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":460,"wires":[]},{"id":"17c463beaf44212a","type":"debug","z":"2a8c346910e9b543","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":380,"wires":[]},{"id":"96b8a1263b3e8a1b","type":"api-call-service","z":"2a8c346910e9b543","name":"Desativa modo","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.trabalhando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Modo trabalhando desativado","valueType":"str"}],"queue":"none","x":740,"y":380,"wires":[["17c463beaf44212a"]]},{"id":"c71e240d08fb871c","type":"comment","z":"2a8c346910e9b543","name":"Modo Trabalhando","info":"Ativar quando zona for igual a trabalho ou escritorio_bcard\nAtivar quando zona for igual a home e notebook trabalho está ligado\nDesativar quando zona for diferente de trabalho ou escritorio_bcard e quando zona for igual a home e notebook trabalho estiver desligado","x":110,"y":380,"wires":[]},{"id":"5186707bbd003dd6","type":"inject","z":"2a8c346910e9b543","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"","payloadType":"date","x":110,"y":580,"wires":[["78ee69d9d8128d9a"]]},{"id":"78ee69d9d8128d9a","type":"api-current-state","z":"2a8c346910e9b543","name":"modo treinando ativado?","server":"a766b0db0a43fc27","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.treinando","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":580,"wires":[["5c1486f3b6058645"],["fcadb8a24bc670db"]]},{"id":"5c1486f3b6058645","type":"api-current-state","z":"2a8c346910e9b543","name":"Localização Rodrigo ","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.rodrigo_lima","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":540,"wires":[["5c96a0a4f15ae8be"]]},{"id":"5c96a0a4f15ae8be","type":"switch","z":"2a8c346910e9b543","name":"Na academia?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Academia","vt":"str"},{"t":"neq","v":"Academia","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":540,"wires":[[],["cb7817499290c191"]]},{"id":"a90e370997c00c2d","type":"api-call-service","z":"2a8c346910e9b543","name":"Ativa modo","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.treinando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Modo treinando ativado","valueType":"str"}],"queue":"none","x":950,"y":620,"wires":[["72c3e423fcb95d5f"]]},{"id":"cb7817499290c191","type":"api-call-service","z":"2a8c346910e9b543","name":"Desativa modo","server":"a766b0db0a43fc27","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.treinando"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"Modo treinando desativado","valueType":"str"}],"queue":"none","x":940,"y":540,"wires":[["9e5cc3cdcb80f088"]]},{"id":"fcadb8a24bc670db","type":"api-current-state","z":"2a8c346910e9b543","name":"Localização Rodrigo ","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.rodrigo_lima","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":620,"wires":[["188e5c2df40567cc"]]},{"id":"188e5c2df40567cc","type":"switch","z":"2a8c346910e9b543","name":"Na academia?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Academia","vt":"str"},{"t":"neq","v":"Academia","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":620,"wires":[["a90e370997c00c2d"],[]]},{"id":"9e5cc3cdcb80f088","type":"debug","z":"2a8c346910e9b543","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":540,"wires":[]},{"id":"d1f554e1157660f1","type":"comment","z":"2a8c346910e9b543","name":"Modo Treinando","info":"Ativar quando zona for igual a academia\nDesativar quando zona for diferente de academia","x":100,"y":540,"wires":[]},{"id":"3f7d64d19bbf32db","type":"function","z":"2a8c346910e9b543","name":"Rodrigo trabalhando?","func":"const compareDates = (d1, d2) => {\n    let date1 = new Date(d1).getTime();\n    let date2 = new Date(d2).getTime();\n\n    if (date1 >= date2) {\n        return true;\n    } else {\n        return false;\n    }\n};\n\nlet entities = global.get(\"homeassistant.homeAssistant\").states;\n\nvar rodrigo = {\n    'state': entities[\"person.rodrigo_lima\"].state,\n    'last_changed': new Date(entities[\"person.rodrigo_lima\"].last_changed),\n};\nvar note_trabalho = {\n    'state': entities[\"binary_sensor.notebook_trabalho\"].state,\n    'last_changed': new Date(entities[\"binary_sensor.notebook_trabalho\"].last_changed),\n};\nmsg.rodrigo = rodrigo;\nmsg.note_trabalho = note_trabalho;\nvar agora = new Date();\nagora = agora.setMinutes(agora.getMinutes() - 5);\n\nif (rodrigo.state == 'home' && compareDates(agora, rodrigo.last_changed)) {\n    if (note_trabalho.state == 'on' && compareDates(agora, note_trabalho.last_changed)) {\n        msg.payload = 'on';\n        return [msg, null];\n    } else {\n        msg.payload = 'off';\n        return [null, msg];\n    }\n} else {\n    if (['Trabalho', 'Escritório Brasilcard'].includes(rodrigo.state) && compareDates(agora, rodrigo.last_changed)) {\n        msg.payload = 'on';\n        return [msg, null];\n    } else {\n        msg.payload = 'off';\n        return [null, msg];\n    }\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":380,"wires":[[],["96b8a1263b3e8a1b"]]},{"id":"e6737fd7c7d5f3a4","type":"function","z":"2a8c346910e9b543","name":"Rodrigo trabalhando?","func":"const compareDates = (d1, d2) => {\n    let date1 = new Date(d1).getTime();\n    let date2 = new Date(d2).getTime();\n\n    if (date1 >= date2) {\n        return true;\n    } else {\n        return false;\n    }\n};\n\nlet entities = global.get(\"homeassistant.homeAssistant\").states;\n\nvar rodrigo = {\n    'state': entities[\"person.rodrigo_lima\"].state,\n    'last_changed': new Date(entities[\"person.rodrigo_lima\"].last_changed),\n};\nvar note_trabalho = {\n    'state': entities[\"binary_sensor.notebook_trabalho\"].state,\n    'last_changed': new Date(entities[\"binary_sensor.notebook_trabalho\"].last_changed),\n};\nmsg.rodrigo = rodrigo;\nmsg.note_trabalho = note_trabalho;\nvar agora = new Date();\nagora = agora.setMinutes(agora.getMinutes() - 5);\n\nif (rodrigo.state == 'home' && compareDates(agora, rodrigo.last_changed)) {\n    if (note_trabalho.state == 'on' && compareDates(agora, note_trabalho.last_changed)) {\n        msg.payload = 'on';\n        return [msg, null];\n    } else {\n        msg.payload = 'off';\n        return [null, msg];\n    }\n} else {\n    if (['Trabalho', 'Escritório Brasilcard'].includes(rodrigo.state) && compareDates(agora, rodrigo.last_changed)) {\n        msg.payload = 'on';\n        return [msg, null];\n    } else {\n        msg.payload = 'off';\n        return [null, msg];\n    }\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["f866fdda7cba2f6c"],[]]},{"id":"72c3e423fcb95d5f","type":"debug","z":"2a8c346910e9b543","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":620,"wires":[]},{"id":"5613de5f43b87c93","type":"inject","z":"ced40aa8bd9e19d3","name":"A cada minuto","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["28fadccbf6d3aec3"]]},{"id":"28fadccbf6d3aec3","type":"subflow:debe9cfe5aac4d6d","z":"ced40aa8bd9e19d3","name":"","x":340,"y":60,"wires":[["b4c2da7394d20127"],[]]},{"id":"b4c2da7394d20127","type":"subflow:390e6e7172a1c9c0","z":"ced40aa8bd9e19d3","name":"","x":540,"y":60,"wires":[["f53f6d416dab176e"]]},{"id":"f53f6d416dab176e","type":"debug","z":"ced40aa8bd9e19d3","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":60,"wires":[]},{"id":"4936a394cb782d50","type":"inject","z":"a427d63af5fa9da0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":280,"wires":[["e95f6d6ad39895bb"]]},{"id":"e95f6d6ad39895bb","type":"api-current-state","z":"a427d63af5fa9da0","name":"","server":"a766b0db0a43fc27","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.weight","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":280,"wires":[["e7007431a0138231"]]},{"id":"e7007431a0138231","type":"debug","z":"a427d63af5fa9da0","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":280,"wires":[]},{"id":"c4d1fd8926ef90c5","type":"loop","z":"a427d63af5fa9da0","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-index","finalPayload":"final-orig","x":950,"y":500,"wires":[["9ead99363013b9fd"],["87f5f351411d4bae"]]},{"id":"e89c4b011b7272ff","type":"delay","z":"a427d63af5fa9da0","name":"","pauseType":"delayv","timeout":"540","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1280,"y":500,"wires":[["66806f52f5c68f79"]]},{"id":"11bd51ed26ec3158","type":"function","z":"a427d63af5fa9da0","name":"function 20","func":"var newMsg = {\n    count: 4\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":500,"wires":[["c4d1fd8926ef90c5"]]},{"id":"66806f52f5c68f79","type":"alexa-remote-routine","z":"a427d63af5fa9da0","name":"Atividade trabalho","account":"f56e839fd346bcfb","routineNode":{"type":"node","payload":{"type":"serial","children":[{"type":"volume","payload":{"value":{"type":"num","value":"80"},"mode":{"type":"str","value":"set"},"devices":["G0922H07317201CT"]}},{"type":"sound","payload":{"sound":{"type":"str","value":"bell_02"},"devices":["G0922H07317201CT"]}},{"type":"volume","payload":{"value":{"type":"num","value":"20"},"mode":{"type":"str","value":"set"},"devices":["G0922H07317201CT"]}}]}},"x":1450,"y":500,"wires":[["c4d1fd8926ef90c5","0538fcaaee1abae3"]]},{"id":"d323c4e69e67c93f","type":"inject","z":"a427d63af5fa9da0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":580,"y":500,"wires":[["11bd51ed26ec3158"]]},{"id":"0538fcaaee1abae3","type":"debug","z":"a427d63af5fa9da0","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1660,"y":480,"wires":[]},{"id":"9ead99363013b9fd","type":"debug","z":"a427d63af5fa9da0","name":"debug 48","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":440,"wires":[]},{"id":"87f5f351411d4bae","type":"function","z":"a427d63af5fa9da0","name":"function 21","func":"msg.delay = 54;\nif (msg.loop.index == 0){\n    msg.delay = 18;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":500,"wires":[["e89c4b011b7272ff"]]},{"id":"cc383044634caf96","type":"loop","z":"a427d63af5fa9da0","name":"","kind":"fcnt","count":"","initial":"0","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"enum","enumerationType":"msg","limit":"","loopPayload":"loop-index","finalPayload":"final-orig","x":950,"y":660,"wires":[[],["69eebdf6425110a3"]]},{"id":"dbf4e9e57ee80958","type":"function","z":"a427d63af5fa9da0","name":"function 23","func":"var delay = msg.delay * 60; //delay definido em segundos\nvar t1 = 4 * 60; //4 min em segundos\nvar t2 = 9 * 60; //9 min em segundos\n\nvar newMsg = {\n    count: Math.ceil((delay-t1)/t2) + 1,\n    delay: delay\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":660,"wires":[["cc383044634caf96"]]},{"id":"8c1472cc17a8f117","type":"delay","z":"a427d63af5fa9da0","name":"","pauseType":"delayv","timeout":"540","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1280,"y":660,"wires":[["cc383044634caf96"]]},{"id":"69eebdf6425110a3","type":"function","z":"a427d63af5fa9da0","name":"function 24","func":"var t1 = 4 * 6; //4 min em segundos\nvar t2 = 9 * 6; //9 min em segundos\n\nif (msg.loop.index == 0){\n    msg.delay = t1 * 1000;\n    \n    return msg;\n}\nmsg.delay = t2 * 1000;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":660,"wires":[["8c1472cc17a8f117"]]},{"id":"f0bf6a7dcc43e861","type":"inject","z":"a427d63af5fa9da0","name":"","props":[{"p":"wait","v":"1","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":590,"y":660,"wires":[["c40c485a35a6b394"]]},{"id":"0bdc7dd32a195e9f","type":"debug","z":"a427d63af5fa9da0","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":720,"wires":[]},{"id":"c40c485a35a6b394","type":"subflow:da0c1becfd17b269","z":"a427d63af5fa9da0","name":"","x":740,"y":720,"wires":[["0bdc7dd32a195e9f"]]}]